{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
    {% block content %}
        <div class="content">
            <div class="apropos-gradient"><img src="{{ asset("asset/images/Josselin_azzure.jpg") }}" alt="Josselin Baldé"></div>
            <div class="white-block" id="who-i-am">
                <h1>Qui suis-je ?</h1>
                <p>Formateur indépendant depuis 10 ans, j'anime des formations en centres de formation, en entreprises ou chez des particuliers. </p>
                <p>J'aime énormément apprendre mais également retransmettre mes connaissances tant auprès des comptables et dirigeants d'entreprises qui ont besoin de se perfectionner (sur Excel par exemple), qu'auprès de personnes qui souhaitent découvrir ou mieux maîtriser ces logiciels (comme Word et Powerpoint).</p>
                <p>J'ai un réel plaisir à enseigner et à permettre à ceux qui le souhaitent d’acquérir de nouvelles connaissances ou de se perfectionner et ce quel que soit le niveau enseigné.
                </p>
                <p>De formation comptable j’ai toujours aimé le contact avec les clients, lorsque je travaillais en cabinet d’expertise, ainsi que l’encadrement et la formation des stagiaires…jusqu’au jour où, d’une façon convaincue, j’ai franchi le pas et me suis lancé dans la formation.</p>

            </div>
            <div class="white-block"></div>
            <div class="white-block"></div>

        </div>
    {% endblock %}

    {{ include("site/footer.html.twig") }}

{% endblock %}