{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
    {% block content %}
        <div class="content">
            <div class="apropos-page reveal">
                <div class="apropos-gradient reveal-3"></div>
                <img class="img-josselin reveal-2" src="{{ asset("build/images/Josselin_azzure.jpg") }}" alt="Josselin Baldé, Formation bureautique, A propos">
                <div class="who-i-am white-block reveal-2" id="who-i-am">
                    <h1>Qui suis-je ?</h1>
                    <p>Formateur indépendant depuis 10 ans, j'anime des formations en centres de formation, en entreprises ou chez des particuliers. </p>
                    <p>J'aime énormément apprendre mais également retransmettre mes connaissances tant auprès des comptables et dirigeants d'entreprises qui ont besoin de se perfectionner (sur Excel par exemple), qu'auprès de personnes qui souhaitent découvrir ou mieux maîtriser ces logiciels (comme Word et Powerpoint).</p>
                    <p>J'ai un réel plaisir à enseigner et à permettre à ceux qui le souhaitent d’acquérir de nouvelles connaissances ou de se perfectionner et ce quel que soit le niveau enseigné.
                    </p>
                    <p>De formation comptable j’ai toujours aimé le contact avec les clients, lorsque je travaillais en cabinet d’expertise, ainsi que l’encadrement et la formation des stagiaires…jusqu’au jour où, d’une façon convaincue, j’ai franchi le pas et me suis lancé dans la formation.</p>

                </div>
                <div class="description white-block reveal-2" id="description">
                    <p>J’ai commencé par enseigner des BAC Pro et BTS en bureautique et comptabilité-Gestion en mettant toujours l’accent sur l’aspect agréable et ludique de l’apprentissage.</p>
                    <p>Après un séjour d’un an à l’étranger je me suis spécialisé sur Excel pour former des comptables et dirigeants d’entreprises. Mais le plaisir que je retire chaque jour de la formation dépend, non pas du niveau que j’enseigne, mais de la réelle satisfaction que je vois autant chez ceux qui découvrent ces nouvelles connaissances que chez ceux qui se perfectionnent, gagnant ainsi un temps et une efficacité précieuse. 
                    </p>
                    <p>Depuis 2017 mon épouse m’a rejoint dans cette aventure que nous aurons plaisir à partager avec vous.</p>
                    <p>Un célèbre éducateur américain a déclaré : « Les oiseaux volent, les poissons nagent ; L’homme pense et apprend ».</p>
                    <p>A bientôt !</p></div>
                
                <div class="discover white-block reveal-2" id="discover">
                    <h2>Découvrir mes formations.</h2>
                    <img src="{{ asset("build/images/picto_groupe.png") }}" alt="Josselin Balde, Formation en prétentiel"/>
                    <a class="bt-link" href="https://ganapati.fr/formateur/188-Josselin.Balde">En présentiel</a>
                    <img src="{{ asset("build/images/picto_ordinateur.png") }}" alt="Josselin Balde, Tutoriels en ligne"/>
                    <a class="bt-link" href="https://fr.tuto.com/formateur/membre-2183-1509.htm">En ligne</a>
                </div>
            </div>
        </div>
    {% endblock %}

    {{ include("site/footer.html.twig") }}

{% endblock %}