{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="connection_page">
        <fieldset class="fieldset_connection">
            <h1>Connexion</h1>
            <form method="post" target="{{ path(connect) }}">
                <input type="text" id="email" name="email" placeholder="Email"/>
                <input type="text" id="password" name="password" />
                <input type="submit" value="Se connecter"/>
            </form>
            
        </fieldset>
    </div>

{% endblock %}
