{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="slide-to-co connection">
        <fieldset id="fieldset_connection">
            <h2>Connexion</h2>
            {# {{ path("/") }} #}
            <form method="post" target="/">
                <input type="text" id="email" name="email" placeholder="Email"/>
                <input type="password" id="password" name="password" placeholder="Mot de passe"/>
                <input type="submit" class="bt-link" value="Se connecter"/>
                <a href="#" >Mot de passe oublié ?</a>
            </form>
            
        </fieldset>
    </div>

{% endblock %}
