<footer>
    <div class="col-1-3">
        <h6 class="title-white-border">Informations</h6>
        <ul class="ul-footer">
            <li><a href="{{ path('legal-notice') }}">Mentions légales</a></li>
            <li><a href="{{ path('rules') }}">Règlement</a></li>
            <li>Copyright © 2019 Josselin Baldé.</li>
            <li>Tous droits réservés.</li> 
        </ul>
    </div>
    <div class="col-1-3">
        <h6>Retrouvez moi sur</h6>
        <ul class="social-link">
            <li><a href="https://www.linkedin.com/in/josselin-bald%C3%A9-920298164/"><img src="{{ asset("build/images/linkedin-in-brands.png") }}" alt="Logo linkedIn"></a></li>
            <li><a href="https://fr.tuto.com/formateur/membre-2183-1509.htm"><i id="tuto-com" class="far fa-play-circle"></i></a></li>
            <li><a href="https://ganapati.fr/formateur/188-Josselin.Balde"><img src="{{ asset("build/images/logo_ganapati.png") }}" alt="Logo Ganapati"></a></li>
        </ul>
        <p class="developpement">Webdesign : Inkrease Communication - contact@inkrease.design<br/>Développement : Alicia Malacarne - https://amproginfo.fr</p>
    </div>
    <div class="col-1-3">
        <h6 class="title-white-border"> Contact</h6>
        <ul class="ul-footer">
            <li>06 87 56 27 29</li>
            <li>josselin.balde@gmail.com</li>
            <li>SIRET : 511 543 811 00026</li>
        </ul>

    </div>
</footer>