{% extends 'site/user_page_template.html.twig' %}

{% block title %}Josselin Balde - Mentions légales{% endblock %}


{%  block tabpanel_block %}
   <div class="informations-pages">
        <h1> Mentions légales et politique de confidentialité</h1>
   
        <h2>Editeur</h2>
        <p>
            Nom : Josselin BALDE<br/>
            Adresse : 26120 Montmeyran, France<br/>
            Portable : 06 87 56 27 29<br/>
            Adresse mail : josselin.balde@gmail.com<br/>
            N°SIRET : 511 543 811 00026<br/>
            Activité : Formation pour adultes<br/>
            Développement Web : Alicia MALACARNE<br/>
            Web Design : Inkrease Communication<br/>
            Règlement : <a href="{{ path("rules") }}">Voir ici</a>
            ​</p>
        <h2>Hébergeur</h2>
        <p>
            Nom : Wix<br/>
            Site : Wix.com Inc.<br/>
            Adresse : 500 Terry A François Blvd San Francisco, CA 94158<br/>
            Téléphone : +1 415-639-9034
        </p>
        ​
        <h2>Accès au site</h2>
        <p>
            Le site est accessible partout, 7j/7, 24h/24 sauf cas de force majeure, interruption programmée ou non et pouvant découler d’une nécessité de maintenance.
        </p>
  </div>​

{% endblock %}
