{% extends 'site/user_page_template.html.twig' %}
{% block title %}Josselin Bladé - Règlement{% endblock %}
{% block tabpanel_block %}
    <div class="informations-pages">
        <h1>Règlement</h1>

        <h2>Article 1 - Préambule</h2>
        <p>
            Le formateur dispense en son nom propre des prestations de formation, d’accompagnement, de validation des acquis de l’expérience et de conseil. Toute commande de prestation de formation est soumise aux présentes conditions générales de vente et la signature ou validation numérique d’un des documents contractuels prévus dans cet article emporte de plein droit leur acceptation. Le formateur effectue la ou les prestations commandées, soit avec ses moyens propres soit avec le concours d’autres organismes avec lesquels il aura passé des contrats de co-traitance.
        </p>
        ​
        <h2>Article 2 - Engagement contractuel</h2>
        <p>
            Les inscriptions aux actions de formation impliquent l’adhésion pleine et entière du client aux présentes conditions générales de vente. Les présentes conditions générales de vente s’appliquent aux actions de formation. Les fiches actions précisent dans le détail les objectifs, les contenus, les méthodes et modalités pédagogiques, les dates et lieux de réalisation, le responsable de l’action (désigné comme le formateur) ou son correspondant, le public visé, le domaine d’action, le rythme, les éventuels prérequis nécessaires à l’entrée en stage, les modalités de sanction de l’action, ainsi que toute autre information nécessaire à la conformité d’une offre de formation selon les exigences des règlement d’éligibilité ou de qualité de la formation. A réception d’une validation d’inscription ou d’une proposition commerciale signée (électroniquement ou manuellement), le prestataire de formation fait parvenir au client, soit une convention de formation telle que prévue aux articles L6353-1 et L6353-2 du code du travail s’il s’agit d’une personne morale, soit un contrat de formation régi par les articles L6353-3 à L6353-7 du même code s’il s’agit d’une personne physique. L’engagement contractuel est définitif dès signature par les parties concernées. Chacune peut alors télécharger un exemplaire du document original. Le cas échéant, les modifications négociées entre les parties au cours de l’exécution des prestations donnent lieu à la signature d’un avenant à l’acte d’engagement contractuel. L’exercice du droit de rétractation se fait par lettre recommandée avec avis de réception, conformément à l’article L6353-5 du code du travail.
        </p>
     
        <h2>Article 3 – Sanction de la formation</h2>
        <p>
            Les attestations, certificats et diplômes ne pourront être transmis qu'après l’accomplissement de la formation, la réussite du stagiaire à l’examen et, le cas échéant, le paiement des frais d’inscription. En tout état de cause, le formateur n’est tenu qu’à une obligation de moyens et non de résultat. Une attestation de formation est établie.
        </p>
        ​

        <h2>Article 4 – Prix</h2>
        <p>
            Les prix des prestations de formation sont fermes et définitifs Ces prix s’entendent hors TVA. Tout engagement de frais supplémentaires sera soumis à l’accord préalable et écrit du client, et facturé en sus.
        </p>
        ​
        <h2>Article 5 - Facturation et délai de paiement</h2>
        <p>
            La facturation est établie selon un échéancier fixé dans l’engagement contractuel, à savoir à la réception de la notification de complétude du dossier pédagogique et administratif comprenant l’ensemble des documents contractuels nécessaires à une prise en charge par un organisme gestionnaire tel que OPCO, Pôle Emploi, OGDPC ou France Compétences pour le CPF. Par défaut le règlement est effectué à la commande de la prestation, il est alors bloqué auprès d’un établissement de prestation bancaire qui assure la prestation d’encaissement pour autrui et de tiers de confiance. Le règlement est automatiquement débloqué après validation de la réalisation de la prestation et de la remise d’un dossier complet. Le délai entre le pré-paiement et le paiement final doit être au minimum de 10 jours. le client peut également choisir un mode de règlement classique, après réalisation de la prestation, qu’il devra exécuter à réception de la facture, dans ce cas des frais de traitement administratif et de facturation s’appliqueront pour un montant forfaitaire de 40 euros HT. Le règlement doit être effectué par tout moyen à la convenance du client, dans un délai de 30 jours fin de mois et sans escompte. Les factures impayées à l’échéance seront de plein droit et sans mise en demeure majorées des intérêts de retard au taux appliqué par la Banque centrale européenne à son opération de refinancement la plus récente majoré de 10 points de pourcentage et au paiement d’une indemnité forfaitaire pour frais de recouvrement de 40 euros, conformément à l’article L441-6 du code de commerce. Le taux mentionné supra ne peut toutefois être inférieur à trois fois le taux d’intérêt légal en vigueur. En cas de refus de prise en charge totale ou partielle de la part d’un Opérateur de Compétences ou un autre organisme financeur, le client s’engage à régler, selon le cas, la totalité ou la partie restant due de la prestation. Conformément à la réglementation en vigueur et en cas d’inexécution totale ou partielle d’une convention de formation, le formateur facturera au client les sommes réellement dépensées ou engagées étant rappelé par ailleurs que ces sommes ne constituent pas une dépense déductible de la participation de l’employeur au titre du plan de formation. Dans le cas où l’acheteur est une personne physique, aucune somme ne pourra être exigée avant l’expiration du délai de rétractation prévu à l’article L6353-5 du Code du travail. Il ne peut être payé à l'expiration de ce délai une somme supérieure à 30% du prix convenu. Les 70% restant doivent donner lieu à échelonnement.
        </p>
        ​
        <h2>Article 6 – Conséquences de la non réalisation de la prestation de formation par le formateur</h2>
        <p>
            En cas d'inexécution totale ou partielle d'une prestation de formation, le formateur rembourse au cocontractant les sommes indûment perçues de ce fait, en application des dispositions de l’article L. 6354-1 du code du travail.
        </p>
        ​
        <h2>Article 7 - Conditions d’annulation des formations</h2>
        <p>
            Report ou annulation du fait du formateur : Si l'effectif prévu n'est pas suffisant au regard des conditions pédagogiques et de ce qui est prévu dans chaque fiche action, le formateur se réserve le droit d'annuler la session ou de reporter certaines sessions. Le formateur prévient alors les participants immédiatement et par écrit le client, au plus tard 10 jours ouvrés avant le début de l’action, et lui ouvre le choix entre le remboursement des sommes versées ou le report de la prestation ou de l’inscription à une date ultérieure la plus proche possible sans pouvoir prétendre à toute autre indemnisation de ce chef. Si aucune date n’est possible ou ne convient, le formateur s’engage à rembourser le participant ou son financeur ; dans ce cas l’annulation du pré paiement sera réalisée sans délai par le prestataire d’encaissement. Interruption ou annulation de la formation du fait du client ou du bénéficiaire : Le client s’engage à communiquer au formateur par écrit (courrier ou email) toute annulation de commande, au moins 20 jours ouvrables avant le début de l’action de formation. Dans ce cadre aucune somme ne sera facturée. En cas d’annulation de commande moins de 20 jours ouvrables avant le démarrage de la formation, le formateur se réserve le droit de facturer 50% du coût total de la formation. En cas de rétractation dans un délai inférieur à 5 jours, et/ou en cas d’abandon au cours de la formation, le coût intégral sera facturé. Dans le cas d’une inscription individuelle (particulier) le stagiaire dispose, à compter de la date de signature du contrat de formation, d’un délai de 14 jours pour se rétracter. Il en informe l’organisme de formation par lettre recommandée avec accusé de réception. Dans ce cas, aucune somme ne peut être exigée au stagiaire.
        </p>
     
        <h2>Article 8 - Cas de force majeure</h2>
        <p>
            Aucune des parties au contrat ne pourra être tenue pour responsable de son retard ou de sa défaillance à exécuter l’une des obligations à sa charge au titre du contrat si cela résulte d’un cas de force majeure. Lorsque, par la suite de cas de force majeure, le formateur est dans l’impossibilité de poursuivre la prestation, le contrat ou la convention conclue avec le client est résilié de plein droit sans que ce dernier puisse prétendre à une quelconque indemnité. Le client est toutefois tenu au paiement prorata temporis des prestations réalisées par le formateur. Si, par suite de force majeure dûment reconnue, le stagiaire est empêché de suivre la formation, il peut rompre le contrat. Dans ce cas, seules les prestations effectivement dispensées sont rémunérées à proportion de leur valeur prévue au contrat, ou à défaut selon le mode de calcul prorata temporis.
        </p>

        <h2>Article 9 - Protection des données personnelles du client</h2>
        <p>
            Le client est informé que les informations à caractère personnel qui sont communiquées au formateur, en application et dans l’exécution des commandes pourront être communiquées aux partenaires contractuels du formateur pour les besoins desdites commandes. En application de l’article L6353-9 du code du travail, les informations demandées, sous quelque forme que ce soit, ne peuvent avoir comme finalité que d'apprécier l’aptitude du candidat à suivre l'action de formation, qu'elle soit sollicitée, proposée ou poursuivie. Ces informations présentent un lien direct et nécessaire avec l'action de formation. Conformément à la loi n°78-17 du 6 janvier 1978, dite Loi Informatique et Libertés, mise à jour par la loi du 6 août 2004, le client dispose d’un droit d’accès, de rectification et d’opposition aux données personnelles le concernant.
            ​</p>

        <h2>Article 10 - Propriété intellectuelle</h2>
        <p>
            Les droits d’exploitation incluant les droits de représentation, de reproduction et d’utilisation, de diffusion, d’adaptation, de modification des supports de formation restent sauf clause contraire, la propriété exclusive du prestataire de formation et ne sont pas cédés au client. Toute reproduction, modification, ou divulgation à des tiers de tout ou partie de ces formations ou documents sous quelque forme que ce soit, est interdite sans l’accord préalable écrit du formateur. Le prestataire de formation conserve l’intégralité des droits de propriété matérielle et intellectuelle sur ces documents, en application de l’article L.122-4 du code de la propriété intellectuelle. Dans le cadre d’un engagement volontaire pour la maîtrise de la sécurité des données et pour le respect de l’environnement, les supports fournis dans les sessions de formation sont essentiellement des supports dématérialisés.
        </p>
    
        <h2>Article 11 – Communication</h2>
        <p>
            Le client autorise expressément le formateur à faire mention dans leurs documents commerciaux de la souscription à une commande et de toute opération découlant de son application.
        </p>
   
        <h2>Article 12 – Litige</h2>
        <p>
            Toute contestation qui n'aurait pas été réglée à l'amiable sera portée devant le Tribunal de commerce.
        </p>
    </div>
{% endblock %}