{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div id="connection-page">
        {{ include("security/form_connection.html.twig") }}
    </div>
{% endblock %}
