{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div id="connection-page" class="connection">
        {{ include("site/home.html.twig") }}       
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
