{% extends 'base.html.twig' %}

{% block title %}Josselin Balde - Formations{% endblock %}

{% block body %}
    <div class="content">
        <div class="formations-block">
            <div class="title-page">
                <h1>Formations vidéos disponibles</h1>
                <hr class="separator-blue"></hr>
            </div>
            <!-- boucle pour afficher les formations -->
            {% for formation in formations %}
                <div class="fieldset-formation">
                    <div class="formation-header-title">
                        <i class="fas fa-chevron-right"></i>
                        <h2>{{ formation.formation.title }}</h2>
                    </div>
                    <!-- boucle pour afficher les chapitres -->
                    <ul class="chapters">
                        {% for chapter in formation.chapters %}
                            <li>
                                <h3>{{ chapter.chapter.title }}</h3>
                                <ul class="tutorials">
                                    {% for tuto in chapter.tutorials %}
                                        <!-- boucle pour afficher les tuto -->
                                        <li><a href="{{ tuto.url }}" class="btn-tutorials">
                                                <i class="far fa-play-circle"></i> {{ tuto.title }}
                                            </a></li>
                                        {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}

        </div>

    </div>
{% endblock %}