{% extends '/site/admin/index.html.twig' %}

{% block tab_content  %}
<div class="tabpanel-block">
    {% for msg in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>

            {{ msg }}

        </div>
    {% endfor %}
    {% for msg in app.flashes('error') %}
        <div class="alert alert-danger fade in" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>

            {{ msg }}

        </div>
    {% endfor %}    
    <div class="title-page">
        <h1>Listes des membres</h1> 
        <hr class="separator-blue"/>
        <input type="button" class="bt-link" data-action="add" data-url="/admin/users/add" data-toggle='modal' data-target="#formBox" value="+ Nouveau Membre"/>
    </div>
    {{ include('site/admin/users/index.html.twig', {'users':users}) }}

</div>
{% endblock %}