<form class="inline-form" method="post" action="{{ path('admin.tutorials.delete', {'id': id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce tutoriel ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ id) }}">
    <button type="submit"><i class="fas fa-trash-alt" data-action="delete"></i></button>
</form>
