{% extends 'site/user_page_template.html.twig' %}

{% block title %}Réinitialisation mot de passe{% endblock %}

{% block tabpanel_block %}

    <div class="title-page">
        <h1>Réinitialisez votre mot de passe</h1>
        <hr class="separator-blue"/>
    </div>

    {{ form_start(resetForm) }}
    {{ form_row(resetForm.plainPassword) }}
    <button class="btn btn-primary">Sauvegarder</button>
    {{ form_end(resetForm) }}
{% endblock %}
