<form class="inline-form"  method="post" action="{{ path('admin.users.delete', {'id': user.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet utiltisateur ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button type="submit"><i class="fas fa-trash-alt" data-action="delete"></i></button>
</form>
