/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 nov. 2019, 20:45:07
    Author     : alici
*/

html, body, #global{
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    margin:0;
}
#global{
    margin-top: 0;
}


.main-grid{
    display:grid;
    grid-area:"auto footer";
    grid-template-columns: auto;
    grid-template-rows: 100% 5%;
}
header, footer{
    margin-left:5%;
}
header{
   width:95%;
   position:absolute;
}
.alert{
    grid-column:1/span 10;  
}
#index{
    align-self: auto;
    display:grid;
    grid-template-rows: repeat(4, 1fr);
    margin:0;
    padding:0;
    align-items:stretch;
}
footer{
    align-self: end;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
nav{
    width:100%;
    margin:0;
}
ul{
  list-style: none;  
}
ul.nav{
    display:grid;
    grid-template-columns: 4fr repeat(3, 1fr);
    justify-items:start;
    align-items: center;
    width:100%;
    height:48px;
    margin:0;
    padding:0;
}
a{
	text-decoration:none;
}
ul.nav #ln_home{
    justify-self: start; 
}
ul.nav li a{
    font-weight:500;
    color:#fff;
}
#ln_home a{
    color:#2572FF;
}
a:visited{
    color:#2572FF;
}
img{
    width:100%;
    height:100%;
}
#accueil{
    display:grid;
    grid-template-columns: 4fr 6fr;
    grid-row: span;
}
.slide-to-co, #img-box{
    height:100vh;
}
.slide-to-co{
    background: transparent linear-gradient(216deg, #2969FF 0%, #00D3FF 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    display:grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: 16px;
    align-items: center;
}

.accroche{
    grid-column: 3/10;
    color:#fff;
}
p.josselin{
    font-weight: 600;
    margin-bottom:4%;
    font-size:1.3em;
}
.separateur{
    width: 7.5em;
    margin-left:0;
    border:2px solid #ffffff;
}
h1{
    font-size:2em;
    margin-top:4%;
    margin-bottom:2%;
}
p.metier{
    margin-top:0;
    font-size:1.3em;
    width: 14em;
}
.bt-link{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000063;
    opacity: 1;
    border-radius: 50px;
    padding:2% 5%;
    font-size:1em;
}
.bt-link:hover{
    background-color: #2081FF;
    color: #fff;
    box-shadow: none;
}
#ln_connection{
    background-color: #FFFFFF;
    border-radius: 50px;
    font-size:1em;
    padding:3% 10%;
}
#ln_connection a{
    color:#2572FF;
}
.bt-accueil{
    color:#0FABFF;
    font-size:1em;
    font-weight: 550;
}


#baton{
    top : 22%;
    left : 21%;
    height : 19%;
    width : auto;
    position:absolute;
    z-index:999;
}
#diagramme{
    top:21%;
    left:15%;
    height:23%;
    width:auto;
    position:absolute;
    z-index:222;
}
#document{
    top:10%;
    left:24%;
    height:19%;
    width:auto;
    position:absolute;
    z-index:222;
}
#illustration_accueil{
    top:36%;
    left:21%;
    height:46%;
    width:auto;
    position:absolute;
    z-index:222;
}
#cafe{
    top:52%;
    left:38%;
    height:13%;
    width:auto;
    position:absolute;
    z-index:333;
}
#plante{
    top:53%;
    left:15%;
    height:26%;
    width:auto;
    position:absolute;
    z-index:333;
}
#livres{
    top:73%;
    left:21%;
    height:11%;
    width:auto;
    position:absolute;
    z-index:333;
}


/*Connection page*/
.slide-to-co.connection{
    justify-content: center;
    
}
#fieldset_connection{
    background-color: #FFFFFF;
    border:none;
    box-shadow: 0px 3px 15px #0044FF;
    opacity: 1;
    height:50%;
    width:50%;
    grid-column:5/16;
}

#fieldset_connection > h2{
    text-align: center;
    font-weight: 600;
    letter-spacing: 0px;
    color: #2081FF;
    opacity: 1;
}

#fieldset_connection form{
    margin-top:5%;
    display:grid;
    grid-gap:1%;
    grid-row-template:repeat(4, 1fr);
    justify-content: center;
    align-items: stretch;
    width:100%;
    height:75%;
}

input[type="text"], input[type="password"], select{
    border: 2px solid #2081FF;
    width:50vh;
    height:5vh;
    padding-left:2%;
    margin: 2% 0;
}
input[type="submit"]{
    border:none;
    width:60%;
    font-size: 0.9em;
    font-weight: 700;
    color: #2081FF;
    justify-self:center;
    align-self:center;
}
#fieldset_connection form a{
    font-size: 0.8em;
    color: #2081FF;
    justify-self:center;
}
/**formations page*/
.content{
    margin-top: 5%;
    display:grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows:auto;
}
.formations-block{
    grid-column:3/16;
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: start;
}

.formation-header-title i{
    display:inline;
    color:#2081ff;
}
.formation-header-title h2{
    display:inline;
}
.formation-header-title{
    grid-column:1/ span 12;
    padding:1%;
}

.formations-block h1,.formations-block h2,.formations-block h3 {
    color:#2081FF;
}
.formations-block h1{
    font-size:1.1em;
    padding:0;
    margin:0;
}
.formations-block h2,.formations-block h3 {
    font-size:1em;
}
.separator-blue{
    width: 32em;
    height:0;
    margin-left:0;
    grid-column: 1;
    border:2px solid #2081ff;
}

.title-page{
    grid-column: 1/ span 10;
    display:grid;
    grid-template-column:2fr 1fr;
    align-items: start;
    grid-column-gap:15px;
}

.fieldset-formation{
    grid-column: 2/ 10;
    grid-column-gap:15px;
    display:grid;
    grid-template-columns:repeat(12, 1fr);
    grid-template-rows:1fr auto;
    box-shadow: 0px 3px 15px #00000029;
    margin-top: 3%;
    padding-bottom:3%;
}
a.btn-tutorials{
    background-color:#2081ff;
    color:#ffffff;
    border-radius:14px;
    font-size:0.75em;
    padding:2px 10px;
   
}
.tutorials li{
    margin:1% 0 0 0;
}
ul.chapters{
    grid-column:2/12;
    grid-row:2;
    padding:2% 0 0 0;
    margin:0;
}

ul.tutorials{
    padding:0;
    margin:0 0 5% 0;
}

i[data-action="modify"]{
    color:#2081ff;
    margin-left:10px;
}
i[data-action="add"]{
    color:#00cc00;
    margin-left:10px;
    
}
i[data-action="modify"]:hover, i[data-action="delete"]:hover, i[data-action="add"]:hover{
    cursor:pointer;
}

i[data-action="delete"]{
    color:grey;
    margin-left:10px;
}

input[data-action="add"]{
    color:#2081FF;
    border:none;
    justify-self:start;
    grid-row:1; 
    grid-column:2;
    
}