/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 nov. 2019, 20:45:07
    Author     : alici
*/

html, body, #global{
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    margin:0;
}
#global{
    margin-top: 0;
}


.main-grid{
    display:grid;
    grid-area:"auto footer";
    grid-template-columns: auto;
    grid-template-rows: 100% 5%;
}
header, footer{
    padding-left:5%
}
header{
    width:100%;
    position:absolute;
    background: transparent linear-gradient(188deg, #29DAFF 0%, #6500FF 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 10px #00000029;
}
.alert{
    grid-column:1/span 16;  
}

.title-white-border:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    width: 12%; /* Change this to whatever width you want. */
    padding-top: 6px; /* This creates some space between the element and the border. */
    border-bottom: 2px solid #fff; /* This creates the border. Replace black with whatever color you want. */
}
#index{
    align-self: auto;
    display:grid;
    grid-template-rows: repeat(4, 1fr);
    margin:0;
    padding:0;
    align-items:stretch;
}
footer{
    align-self: end;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
nav{
    width:100%;
    margin:0;
}
ul{
    list-style: none;  
}
ul.nav{
    display:grid;
    grid-template-columns: 4fr repeat(3, 1fr);
    justify-items:start;
    align-items: center;
    width:100%;
    height:48px;
    margin:0;
    padding:0;
}
a{
    text-decoration:none;
}
button{
    border:none;
}
ul.nav #ln_home{
    justify-self: start; 
}
ul.nav li a{
    font-weight:500;
    color:#fff;
}

a:visited{
    color:#2572FF;
}
img{
    width:100%;
    height:100%;
}
#accueil{
    display:grid;
    grid-template-columns: 4fr 6fr;
    grid-row: span;
}
.slide-to-co, #img-box{
    height:100vh;
}
.slide-to-co{
    background: transparent linear-gradient(216deg, #2969FF 0%, #00D3FF 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    display:grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: 16px;
    align-items: center;
}

.accroche{
    grid-column: 3/10;
    color:#fff;
}
p.josselin{
    font-weight: 600;
    margin-bottom:4%;
    font-size:1.3em;
}
p.josselin.title-white-border:after{
    width: 20%;
    margin-left:0;
    border-bottom:3px solid #ffffff;
    padding-top: 4%;
}


h1{
    font-size:2em;
    margin-top:4%;
    margin-bottom:2%;
}
p.metier{
    margin-top:0;
    font-size:1.3em;
    width: 14em;
}
.bt-link{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000063;
    opacity: 1;
    border-radius: 50px;
    padding:2% 5%;
    font-size:1em;
}
.bt-link:hover{
    background-color: #2081FF;
    color: #fff;
    box-shadow: none;
    text-decoration: none;
}
#ln_connection {
    background-color: #FFFFFF;
    border-radius: 50px;
    font-size:1em;
    padding:3% 10%;
    color:#2572FF;
}
#ln_connection a, #ln_connection button{
    color:#2572FF;
}
#ln_connection button{
    background-color: transparent;
}
.bt-accueil{
    color:#0FABFF;
    font-size:1em;
    font-weight: 550;
}


#baton{
    top : 22%;
    left : 21%;
    height : 19%;
    width : auto;
    position:absolute;
    z-index:999;
}
#diagramme{
    top:21%;
    left:15%;
    height:23%;
    width:auto;
    position:absolute;
    z-index:222;
}
#document{
    top:10%;
    left:24%;
    height:19%;
    width:auto;
    position:absolute;
    z-index:222;
}
#illustration_accueil{
    top:36%;
    left:21%;
    height:46%;
    width:auto;
    position:absolute;
    z-index:222;
}
#cafe{
    top:52%;
    left:38%;
    height:13%;
    width:auto;
    position:absolute;
    z-index:333;
}
#plante{
    top:53%;
    left:15%;
    height:26%;
    width:auto;
    position:absolute;
    z-index:333;
}
#livres{
    top:73%;
    left:21%;
    height:11%;
    width:auto;
    position:absolute;
    z-index:333;
}

/*** home page : video section***/
section.index-section{
    display:grid;
    grid-template-columns:repeat(16, 1fr);
    margin-bottom: 3%;
}

section#video video{
    grid-column:2/span 14;
}

/*** homepage : formation section ***/
section#formations{
    grid-template-rows:repeat(16, 1fr);
}
.blue-band{
    grid-column:1/span 16;
    grid-row:1/span 10;
    height:25rem;
    position:relative;
    background: transparent linear-gradient(188deg, #2969FF 0%, #00D3FF 100%) 0% 0% no-repeat padding-box;
    padding-top: 6%;
    text-align:center;
}
.floater{
    position:absolute;
    height:25rem;
    display:grid;
    width:100%;
    grid-template-columns:repeat(2, 1fr);
    align-content:end;
    grid-column-gap: 10%;
}
.white-block{
    box-shadow: 0px 3px 15px #00000057;
    background-color: #fff;
    display:grid;
    justify-items: center;
    align-content:space-around;
    height:20rem;
    width:17rem;
    padding:3% 7%;
}
.white-block:nth-child(1){
    justify-self: end;
}
.white-block:nth-child(2){
    justify-self: start;
}
h2.section-title{
    color:#fff;
    font-weight: 600;
}
.white-block h3{
    color:#2081ff;
    font-weight: 600;
    font-size:1.1em;
}

#formations .blue-band h2.title-white-border:after{
    margin:0 auto;
    grid-column: 1;
    border-bottom:3px solid #fff;
}
.white-block .bt-link{
    height:2rem;
    width:10rem;
    border:1px solid #2081ff;
    box-shadow: none;
}
/*** home page #apropos ***/
.gradient-blue{
    background: transparent linear-gradient(14deg, #2969FF 0%, #00D3FF 100%) 0% 0% no-repeat padding-box;
    opacity: 1;

}
#apropos{
    grid-template-columns:55% 45%;
}
.gradient-blue .white-block{
    width:80%;
    margin-left:30%;
}
ol {
    list-style: none; 
    counter-reset: li;
}
ol li::before {
    content: "." counter(li);
    display: inline-block; 
    width: 1em;
    height: 1em;
    font-size:2em;
    font-weight:700;
    margin-left: -2em;
    margin-right: 1em; 
    text-align: right; 
    direction: rtl;
}
ol li {
    counter-increment: li;
     font-weight:700;
     line-height: 1;
     margin: 2% 0;
     padding:0;
}
#more-h2::after{
    content:" +";
    font-size:2.5em;
    position:absolute;
    margin-top: -.35em;
    margin-left: .2em;
}
#more-h2{
    margin:10% 30% 3%;
    font-weight:700;
    position:relative;
    display:inline-block;
}
.apropos{
    grid-column:2;
    display:grid;
    justify-items: center;
    align-items: center;
}
.apropos img{
    height:24rem;
    width:50%;
    margin-top: 3rem;
    border:none;
}
.apropos .bt-link{
    color:#000;
    align-self: start;
}
.apropos .bt-link:hover{
    color:#fff;
}



/* home page : footer */
footer{
    background: transparent linear-gradient(198deg, #29DAFF 0%, #6500FF 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    color:#fff;
    padding-top:3%;
}


/*** Connection page ***/
.slide-to-co.connection{
    justify-content: center;

}
#fieldset_connection{
    background-color: #FFFFFF;
    border:none;
    box-shadow: 0px 3px 15px #0044FF;
    opacity: 1;
    height:50%;
    width:50%;
    grid-column:5/16;
}

#fieldset_connection > h1{
    text-align: center;
    font-weight: 600;
    letter-spacing: 0px;
    color: #2081FF;
    opacity: 1;
}

#fieldset_connection form{
    margin-top:5%;
    display:grid;
    grid-gap:1%;
    grid-row-template:repeat(4, 1fr);
    justify-content: center;
    align-items: stretch;
    width:100%;
    height:75%;
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"]{
    height:5vh;
    width:50vh;
    padding-left:2%;
    margin: 2% auto;
    border-radius:4px;
}
input[type="checkbox"]{
    marin:0;
    padding:0;
}
input[type="submit"]{
    border:none;
    width:60%;
    font-size: 0.9em;
    font-weight: 700;
    color: #2081FF;
    justify-self:center;
    align-self:center;
}
#fieldset_connection form a{
    font-size: 0.8em;
    color: #2081FF;
    justify-self:center;
}


/**formations page*/
.content{
    margin-top: 5%;
    display:grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows:auto;
}
.onglets{
    grid-column:2 / span 14;
    padding:0;
    margin:0;
    display:grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows:1fr auto;
}
.nav-tabs{
    grid-column:3;
    grid-row:1;
    margin:0;
    border-bottom: none;
}
#admin-nav li a{
    color:grey;
}
#admin-nav li a.active{
    color:#2081ff;
}
.tab-content, .profile-formation-content{
    grid-row:2;
    grid-column:3/span 12;
    padding:5%;
    border-radius: .25rem;
    border-top-left-radius: 0;
}
.tab-content{
    border:1px solid #dee2e6;
}

.btn-ctl{
    display: inline;
}

.formation-header-title{
    grid-column:1/ span 14;
    padding:1%;
}
.tabpanel-block{
    display:grid;
    grid-template-columns: repeat(16, 1fr);
}
.tabpanel-block h1,.tabpanel-block h2,.tabpanel-block h3, 
.formation-header-title i{
    color:#2081FF;
    display:inline;
}
.tabpanel-block h1{
    font-size:1.3em;
    padding:0;
    margin:0;
}
.tabpanel-block h2,.tabpanel-block h3 {
    font-size:1em;
}
.tabpanel-block h1:after{
    content:"";
    display:block;
    width: 32em;
    height:0;
    margin:0;
    grid-column: 1;
    padding-top: 1%;
    border-bottom:3px solid #2081ff;
}

.title-page{
    grid-column: 1/ span 16;
    display:grid;
    grid-template-column:3fr 1fr;
    align-items: start;
    grid-column-gap:15px;
    margin-bottom:5%;
}
.title-page h1{
    font-weight: 700;
}

.fieldset-formation{
    grid-column: 3/ span 16;
    display:grid;
    grid-template-columns:repeat(12, 1fr);
    grid-template-rows:1fr auto;
    box-shadow: 0px 3px 15px #00000029;
    margin-top: 5%;
}
#formation-user-alert{
    margin-top:5%;
}
a.btn-tutorials{
    background-color:#2081ff;
    color:#ffffff;
    border-radius:14px;
    font-size:0.75em;
    padding:2px 10px;

}
.tutorials li{
    margin:1% 0 0 0;
}
ul.chapters{
    grid-column:2/12;
    grid-row:2;
    padding:2% 0 0 0;
    margin:0;
}

ul.tutorials{
    padding:0;
    margin:0 0 5% 0;
}

i[data-action="modify"]{
    color:#2081ff;
    margin-left:10px;
}
i[data-action="add"]{
    color:#00cc00;
    margin-left:10px;

}
i[data-action="modify"]:hover, i[data-action="add"]:hover{
    cursor:pointer;
}

i[data-action="delete"]{
    color:grey;
    margin-left:10px;
}
td div.btn-ctl i{
    margin-left:0;
}
input[data-action="add"]{
    color:#2081FF;
    border:none;
    justify-self:start;
    grid-row:1; 
    grid-column:2;
}

.inline-form{
    display:inline;
}
.inline-form button{
    border:none;
    background: none;
    padding:0;
    margin:0;
}

.modal-body{
    display:grid;
    justify-content: center;
}
.modal-body div{
    width:51vh;
}
label, th[scope="row"]{
    font-weight: 700;
    color:#2081ff;
}
th label {
    font-weight:500;
    color:gray;
    padding:0 2%;
}

label{
    display:block;
}

/*** Tutoviewer page ***/
.tutoviewer-template{
    display:grid;
    grid-template-columns:repeat(16, 1fr);
    grid-column:2 / span 15;
}
.tuto-viewer-main{
    display:grid;
    grid-template-columns:repeat(16, 1fr);
    grid-column:2 / span 16;
}
.tuto-block{
    grid-column:2/span 12;
}
.tuto-title{
    grid-column:3/span 12;
}
video{
    box-shadow: 0px 0px 10px #00000029;
    opacity:1;
    width:100%;
}

.tuto-title h1, .tuto-title p{
    color:#2081FF;
}
.tuto-title h1{
    font-size:1.3em;
    font-weight:600;
    padding:0;
    margin:0;
}
.tuto-title p{
    font-size:.9em;
}
.tutoviewer-bt{
    display:grid;
    grid-template-rows: 1fr 11fr; 
    align-content: center;
}
a.tuto-nav{
    padding:10% 15%;
    border-radius:100px;
    box-shadow: 0px 1px 5px #aaa;
    width:45px;
    height:45px;
    display:grid;
    align-self: center;
    justify-self:center;
}
.tuto-nav i{
    font-size:1.7em;
}

/*** Styles rewritten ***/
span.select2-selection.select2-selection--multiple,
span.select2-selection.select2-selection--single,
input[type="text"], input[type="password"], input[type="email"], input[type="number"]{
    border:1px solid #2081ff;
}
span.select2-selection.select2-selection--multiple{
    width:50vh;
}
.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--single,
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="number"]:focus{
    border:2px solid #2081ff;
}

table.table, #chg-password{
    grid-column:1/span 10;
}
#chg-password{
    color:#fff;
    grid-row:3; 
}