/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 nov. 2019, 20:45:07
    Author     : alici
*/
html, body, #global{
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    margin:0;
    overflow-x: hidden;
}

body{
    position:relative;
    overflow-y: auto;
    scroll-behavior:smooth;
}
#global{
    margin-top: 0;
    display:grid;
}


.main-grid{
    display:grid;
    grid-area:"auto footer";
    grid-template-columns: auto;
    grid-template-rows: 100% 5%;
}

header{
    display:grid;
    grid-template-columns:repeat(16, 1fr);
    width:100%;
    background: linear-gradient(188deg, #29DAFF 0%, #6500FF 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 10px #00000029;
    z-index:999;
}

header.header--transparent{
    background: transparent;
    box-shadow: none;
    position:absolute;
}

.header--transparent nav ul li .ln--home{
    color: #2572ff;
    border:none;
}

.header--transparent nav ul li .ln--home:hover:after{
    content:"";
    display: block;
    border-bottom : 2px solid #2572ff;
    width: 100%;
}

.alert{
    grid-column:1/-1;  
}

.title-white-border:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    width: 25%; /* Change this to whatever width you want. */
    padding-top: 6px; /* This creates some space between the element and the border. */
    border-bottom: 2px solid #fff; /* This creates the border. Replace black with whatever color you want. */
}
.index{
    align-self: auto;
    display:grid;
    grid-template-rows: repeat(4, 1fr);
    
    margin:0;
    padding:0;
    align-items:stretch;
}

nav{
    width:100%;
    grid-column:2/-1;
}
ul{
    list-style: none;  
}
ul.nav{
    display:grid;
    grid-template-columns: 4fr repeat(3, 1fr);
    justify-items:start;
    align-items: center;
    width:100%;
    height:48px;
    margin:0;
    padding:0;
}
a, ul.nav li a, .developpement a{
    text-decoration:none;
}
button{
    border:none;
}
ul.nav li .ln--home{
    justify-self: start; 
    background: transparent;
}
ul.nav li.ln--icon{
    display:none;
}
ul.nav li a, ul.nav li button{
    font-weight:500;
    color:#fff;
}

header nav ul.nav li a:hover, header nav ul.nav li a.active, button.ln--home:hover:after{
    border-bottom:2px solid #fff;
}

 button.ln--home:hover:after{
     content:"";
     width:100%;
}
img{
    height:100%;
}

.index__section p.ptitle{
    color:#fff;
    font-weight: 600;
    margin-top:3%;
    margin-bottom:3%;
}

.slide-to-co, .img-relative{
    position:relative;
    grid-row:1;
    top: 0;
}


.img-relative{
    margin:0;
    grid-column:1/-1;
    height:100vh;
}
.slide-to-co, #connection-page{
    opacity: 1;
    height:100vh;
}

.slide-to-co{
    background: transparent linear-gradient(216deg, #2969FF 0%, #00D3FF 100%) 0% 0% no-repeat padding-box;
    grid-column:7/ -1;
    display:flex;
    align-items: center;
    justify-content:center;
    flex-wrap:nowrap;
    flex-shrink: 1;
}

#connection-page{
    display:grid;
    grid-template-columns:repeat(16, 1fr);
    position:relative;
    align-items:center;
}

.accroche{
    grid-column: 9/-1;
    grid-row:1;
    color:#fff;
    z-index:5;
    display:grid;
    align-self: center;
    align-content: center;
}
section.index__section .accroche *{
        margin: 0 0 1.2em 0;
    }
section.index__section .accroche p.josselin{
    font-weight: 600;
    font-size:1.3em;
}
section.index__section .accroche p.josselin.title-white-border:after{
    width: 20%;
    margin-left:0;
    border-bottom:3px solid #ffffff;
    padding-top: 1.2em;
}


section.index__section .accroche h1{
    font-size:2em;
}
section.index__section .accroche p.metier{
    font-size:1.3em;
    width: 14em;
    line-height: 1.2em;
}
.bt-link{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 15px #00000063;
    opacity: 1;
    border-radius: 50px;
    padding:2% 5%;
    font-size:1em;
    text-align: center;
}

.bt-link:hover{
    background-color: #2081FF;
    color: #fff;
    box-shadow: none;
    text-decoration: none;
}
#ln_connection {
    background-color: #FFFFFF;
    border-radius: 50px;
    font-size:1em;
    padding:3% 10%;
}
#ln_connection, #ln_connection a, #ln_connection button, .dropdown-menu a.dropdown-item, 
.dropdown-menu a.dropdown-item:hover, .dropdown-menu a.dropdown-item:focus{
    color:#2572FF;
}

.dropdown-menu a.dropdown-item:hover, .dropdown-menu a.dropdown-item:focus{
    background:transparent;
}
#ln_connection button{
    background-color: transparent;
}
.bt-accueil{
    color:#0FABFF;
    font-size:1em;
    font-weight: 550;
    padding: .5em;
    width: 12em;
}

img.baton{
    top : 22vh;
    min-left : 21vh;
    left:21%;
    height : 19vh;
    width : auto;
    position:absolute;
    z-index:999;
}
img.diagramme{
    top:21vh;
    min-left:15vh;
    left:15%;
    height:23vh;
    width:auto;
    position:absolute;
    z-index:222;
}
img.document{
    top:10vh;
    min-left:24vh;
    left:24%;
    height:19vh;
    width:auto;
    position:absolute;
    z-index:222;
}
img.illustration_accueil{
    top:36vh;
    min-left:21vh;
    left:21%;
    height:46vh;
    width:auto;
    position:absolute;
    z-index:222;
}
img.cafe{
    top:52vh;
    min-left:55vh;
    left:38%;
    height:13vh;
    width:auto;
    position:absolute;
    z-index:333;
}
img.plante{
    top:53vh;
    min-left:15vh;
    left:15%;
    height:26vh;
    width:auto;
    position:absolute;
    z-index:333;
}
img.livres{
    top:73vh;
    min-left:25vh;
    left:21%;
    height:11vh;
    width:auto;
    position:absolute;
    z-index:333;
}
section.index__section--accueil{
    margin-top:0;
}
/*** home page : video section***/
section{
    display:grid;
    grid-template-columns:repeat(16, 1fr);
    margin: 0 0 5% 0; padding:0;
    height:100vh;
}

.index__section--video .video{
    grid-column:2/span 14;
    align-self:center;
}
video{
    max-height: 99vh!important;
}

/*** homepage : formation section ***/

.blue-band{
    grid-column:1/-1;
    grid-row:1/span 10;
    height:100%;
    position:relative;
    background: transparent linear-gradient(188deg, #2969FF 0%, #00D3FF 100%) 0% 0% no-repeat padding-box;
    text-align:center;
}
.floater{
    grid-column:1/-1;
    grid-row:6/14;
    display:grid;
    width:100%;
    align-items:center;
    grid-template-columns:repeat(16, 1fr);
}
.white-block{
    box-shadow: 0px 3px 20px #00000057;
    background-color: #fff;
    display:grid;
    height:100%;
    justify-items: center;
    text-align: center;
    align-content:space-around;
    z-index: 2;
    padding:10%;
}
.white-block img{
    width:90%;
    height:auto;
}
.white-block:nth-child(1){
    grid-column:4/span 4;
}
.white-block:nth-child(2){
    grid-column:10/span 4;
}

.white-block h2{
    color:#2081ff;
    font-weight: 600;
    font-size:1.1em;
}
.index__section--formations p.ptitle{
    grid-column:1/-1;
    grid-row:3;
    z-index:2;
    text-align: center;
}
.index__section--formations p.ptitle.title-white-border:after{
    margin:0 auto;
    width:12%;
    border-bottom:3px solid #fff;
}
.white-block .bt-link{
    width:10rem;
    border:1px solid #2081ff;
    box-shadow: none;
}

/*** home page #apropos ***/
.gradient-blue{
    background: transparent linear-gradient(14deg, #2969FF 0%, #00D3FF 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    grid-column:1/span 9;
    grid-row:1 /span 5;
    position:relative;
}
.index__section--apropos{
    grid-template-rows:1fr 1fr 4fr 1fr 1fr
}

.index__section--apropos .white-block{
    grid-column: 3/ span 8;
    grid-row:3;
    width:100%;
    text-align: left;
}
ol {
    list-style: none; 
    counter-reset: li;
}
ol li::before {
    content: "." counter(li);
    display: inline-block; 
    width: 1em;
    height: 1em;
    font-size:2em;
    font-weight:700;
    margin-left: -2em;
    margin-right: 1em; 
    text-align: right; 
    direction: rtl;
}
ol li {
    counter-increment: li;
    font-weight:700;
    line-height: 1;
    margin: 2% 0;
    padding:0;
    font-size:.9em;
}
.index__section--apropos p.ptitle::after{
    content:" +";
    font-size:2.5em;
    position:absolute;
    margin-top: -.35em;
    margin-left: .2em;
}
.index__section--apropos p.ptitle{
    grid-row:2;
    grid-column:3/span 8;
    font-weight:700;
    display:inline-block;
    z-index:2;
    
}

p.ptitle{
    font-size: 1.8em;
}

.index__section--apropos img{
    grid-column:12/span 4;
    grid-row:3;
    border:none;
    justify-self:center;
}
.index__section--apropos .container-bt-link{
    color:#000;
    grid-column:12/span 4;
    grid-row:4;
    align-self: end;
    justify-items:center;
    display:grid;
}
.index__section--apropos .bt-link{
    color:#000;
}
.index__section--apropos .bt-link:hover{
    color:#fff;
}
/***********************/
/*** A propos page *****/
/***********************/
.apropos-page{
    grid-column:2/16;
    display:grid;
    grid-template-columns:repeat(16, 1fr);
    grid-template-rows: 50% 50%;
    position:relative;
    justify-items:center;
    align-items: center;
    margin-top:3%;
}
.apropos-gradient{
    background: transparent linear-gradient(221deg, #2969FF 0%, #00D3FF 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    grid-column:1/ 13;
    align-self: start;
    margin-top:4%;
    width:100%;
    height:70%;
    position:absolute;
}
.apropos-page img.img-josselin{
    grid-column:2/ 6;
    grid-row:1;
    align-self:start;
    z-index: 2;
    width:100%;
    height: auto;
}
#who-i-am, #description, #discover{
    width:100%;
    height: auto;
    z-index: 2;

}
#who-i-am{
    grid-column:8/-1;
    grid-row:1;

}
#description{
    grid-column:2/10;
    grid-row:2;
    margin: 10% auto;
}
#discover{
    grid-column:12/ span 4;
    grid-row:2;
    z-index: 2;
    text-align: center;
}

.apropos-page .white-block{
    text-align:left;
    padding:4% 10%;
}

.apropos-page .white-block p{
    font-size:.8em;
}
.apropos-page .white-block img{
    width:40%;
    height:auto;
}
#who-i-am h1{
    margin-top:0;
    font-size:1.3em;
    font-weight:bold;
    text-align: left;
    width:100%;
}
/* home page : footer */

footer{
    background: transparent linear-gradient(198deg, #29DAFF 0%, #6500FF 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    color:#fff;
    margin:5% 0 0 0;
    align-self: end;
    justify-items:center;
    display:grid;
    height:auto;
    grid-template-columns: 1fr 1fr 1fr;
}
.footer__block p.ptitle{
    text-transform:uppercase;
    font-weight: bold;
    font-size:1.1em;
}
footer ul{
    padding-left:0;
    margin-top: 2%;
    font-size:.9em;
}
footer ul li{
    margin-top: 2%;
}
footer ul a{
    color:#fff;
}
footer ul a:hover{
    color:#fff;
}

ul.social-link{
    display:grid;
    grid-template-columns:1fr 1fr auto;
    justify-items:center;
    align-items:center;
    grid-column-gap:0.6rem;
}
ul.social-link li a img{
    height:38px;
}
ul.social-link li a i{
    color:#fff;
    font-size:2.4rem;
}
ul.social-link li:nth-child(3) a img{
    width:152px;
}
footer .footer__block{
    margin-top:5%;
}
footer .footer__block:nth-child(2){
    justify-items:center;
    display:grid;
}
p.developpement{
    font-size:0.65em;
    align-self: end;
    text-align:center;
}
.developpement a{
    color:#ffffff;
}
/***********************/
/*** Connection page ***/
/***********************/
#fieldset_connection{
    background-color: #FFFFFF;
    border:none;
    box-shadow: 0px 3px 15px #0044FF;
    opacity: 1;
    height:50vh;
    width:75vh;
    margin:0 auto;
    padding:2% 5%;
    z-index:9999;
}

#fieldset_connection > h1{
    text-align: center;
    font-weight: 600;
    letter-spacing: 0px;
    color: #2081FF;
    opacity: 1;
    margin-top: 0;
}

#fieldset_connection form{
    margin-top:5%;
    display:grid;
    grid-gap:1%;
    grid-row-template:repeat(4, 1fr);
    justify-content: center;
    align-items: stretch;
    width:100%;
    height:75%;
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"]{
    height:5vh;
    padding-left:2%;
    margin: 2% auto;
    border-radius:4px;
}
input[type="checkbox"]{
    marin:0;
    padding:0;
}
input[type="submit"]{
    border:none;
    width:60%;
    font-size: 0.9em;
    font-weight: 700;
    color: #2081FF;
    justify-self:center;
    align-self:center;
}
#fieldset_connection form a{
    font-size: 0.8em;
    color: #2081FF;
    justify-self:center;
}

/***********************/
/*** formations page ***/
/***********************/
.content{
    margin-top: 70px;
    display:grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows:auto;
}
.onglets{
    grid-column:2 / span 14;
    padding:0;
    margin:0;
    display:grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows:1fr auto;
}
.nav-tabs{
    grid-column:3;
    grid-row:1;
    margin:0;
    border-bottom: none;
}
#admin-nav li a{
    color:grey;
}
#admin-nav li a.active{
    color:#2081ff;
}
.tab-content, .profile-formation-content{
    grid-row:2;
    grid-column:3/span 12;
    padding:5%;
    border-radius: .25rem;
    border-top-left-radius: 0;
}
.tab-content{
    border:1px solid #dee2e6;
}

.btn-ctl{
    display: inline;
}

.formation-header-title{
    grid-column:1/ span 14;
    padding:1%;
}

.formation-header-title i:hover, .formation-header-title .chevron:hover,
i[data-action="modify"]:hover, i[data-action="add"]:hover{
    cursor:pointer;
    color: #555;
}

.tabpanel-block{
    display:grid;
    grid-template-columns: repeat(16, 1fr);
}
.tabpanel-block h1,.tabpanel-block h2,.tabpanel-block h3, 
.formation-header-title .chevron{
    display:inline;
}
.tabpanel-block h1,.tabpanel-block h2,.tabpanel-block h3, 
.formation-header-title i, #who-i-am h1, .tuto-title h1,
.tuto-title p{
    color:#2081FF;
}

.tabpanel-block h1, .tuto-title h1{
    font-size:1.3em;
    padding:0;
    margin:0;
    font-weight:600;
}
.tabpanel-block h2,.tabpanel-block h3 {
    font-size:1em;
}
.tabpanel-block h1:after, #who-i-am h1:after, .dropdown-menu a.dropdown-item:hover:after{
    content:"";
    display:block;
    height:0;
    margin:0;
    grid-column: 1;
    padding-top: 1%;
    border-bottom:3px solid #2081ff;
}
#who-i-am h1:after{
    width:12%;
    margin-bottom: 1%;
}
.title-page, .informations-pages{
    grid-column: 1/ -1;
    display:grid;
    grid-template-columns:3fr 1fr;
    align-items: start;
    grid-column-gap:15px;
    margin-bottom:5%;
}
.title-page h1{
    font-weight: 700;
}

.fieldset-formation{
    grid-column: 3/ -1;
    display:grid;
    grid-template-columns:repeat(12, 1fr);
    grid-template-rows:1fr auto;
    box-shadow: 0px 3px 15px #00000029;
    margin-top: 5%;
}
#formation-user-alert{
    margin-top:5%;
}
a.btn-tutorials{
    background-color:#2081ff;
    color:#ffffff;
    border-radius:14px;
    font-size:0.75em;
    padding:2px 10px;

}
.tutorials li{
    margin:1% 0 0 0;
}
ul.chapters{
    grid-column:2/12;
    grid-row:2;
    padding:2% 0 0 0;
    margin:0;
    display:none;
}

ul.tutorials{
    padding:0;
    margin:0 0 5% 0;
}

i[data-action="modify"]{
    color:#2081ff;
    margin-left:10px;
}
i[data-action="add"]{
    color:#00cc00;
    margin-left:10px;

}


i[data-action="delete"]{
    color:grey;
    margin-left:10px;
}
td div.btn-ctl i{
    margin-left:0;
}
input[data-action="add"]{
    color:#2081FF;
    border:none;
    justify-self:start;
    grid-row:1; 
    grid-column:2;
}

.inline-form{
    display:inline;
}
.inline-form button{
    border:none;
    background: none;
    padding:0;
    margin:0;
}

.modal-body{
    display:grid;
    justify-content: center;
}
.modal-body div{
    width:51vh;
}
label, th[scope="row"]{
    font-weight: 700;
    color:#2081ff;
}
th label {
    font-weight:500;
    color:gray;
    padding:0 2%;
}

label{
    display:block;
}

/*************************/
/*** Legal Notice ********/
/*************************/
.informations-pages{
    grid-template-columns:1fr;

}

.informations-pages h2{
    margin-top:2%;
}

/*** Tutoviewer page ***/
.tutoviewer-template{
    display:grid;
    grid-template-columns:repeat(16, 1fr);
    grid-column:2 / span 15;
}
.tuto-viewer-main{
    display:grid;
    grid-template-columns:repeat(16, 1fr);
    grid-column:2 / -1;
}
.tuto-block{
    grid-column:2/span 12;
}
.tuto-title{
    grid-column:3/span 12;
}
video{
    box-shadow: 0px 0px 10px #00000029;
    opacity:1;
    width:100%;
}


.tuto-title p{
    font-size:.9em;
}
.tutoviewer-bt{
    display:grid;
    grid-template-rows: 1fr 11fr; 
    align-content: center;
}
a.tuto-nav{
    padding:10% 15%;
    border-radius:100px;
    box-shadow: 0px 1px 5px #aaa;
    width:45px;
    height:45px;
    display:grid;
    align-self: center;
    justify-self:center;
}
.tuto-nav i{
    font-size:1.7em;
}

/*** Cookies style ***/
.cookies-band{
    background-color: rgba(0,0,0, .7);
    bottom: 0px;
    position: fixed;
    display: grid;
    grid-template-columns: 10fr 1fr 1fr;
    align-items:center;
    justify-items:center;
    justify-content:center;
    width: 100%;
    color:white;
    font-weight:600;
    
}


/*** Styles rewritten ***/
span.select2-selection.select2-selection--multiple,
span.select2-selection.select2-selection--single,
input[type="text"], input[type="password"], input[type="email"], input[type="number"]{
    border:1px solid #2081ff;
}
span.select2-selection.select2-selection--multiple{
    width:50vh;
}
.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--single,
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="number"]:focus{
    border:2px solid #2081ff;
}

table.table, #chg-password{
    grid-column:1/span 10;
}
#chg-password{
    color:#fff;
    grid-row:3; 
}

/*********************/
/**** Animations *****/
/*********************/
.reveal [class*="reveal-"]{
    opacity:0;
    transform:translateY(75px);
}

.reveal-visible [class*="reveal-"]{
    opacity:1;
    transform:translateY(0);
    /*transition: 0.1s ease;*/
}
.reveal-2{
    transition-duration: 1s!important;
    transition-timing-function: ease-out!important;
}
.reveal-3{
    transition-duration: 1.5s!important;
    transition-timing-function: ease-in-out!important;
}


@keyframes grow{
    from{
        margin-right:0;
        margin-left:40%;
        width:60%;
    }
    to{
        width:100%;
        margin-left:0;
        margin-right:0;
    }
}


@keyframes slide{
    from{
        transform: translateX(calc(50% + 150vh));
        display:block; 
    }
    to{
        display:block; 
        transform : translateX(0);
    }
}

@keyframes slide_images{
    from{
        left:0;
    }
    to{
        left: -100vh;
    }
}
@keyframes hide_accroche{
    from{
        opacity:1;
    }
    to{
        opacity:0;
    }
}

#slide.animate{
    position:absolute;
    animation-name: grow;
    animation-duration: 1.3s;
    animation-fill-mode: forwards;
    width:100%;
}

.img-relative.animate{
    animation-name: slide_images;
    animation-duration:.7s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.accroche.animate{
    animation-name: hide_accroche;
    animation-duration:1.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.slide-fieldset{
    z-index:9999;
    transform: translateX(calc(50% + 150vh));
    display:none;
}
#connection-page .slide-to-co .slide-fieldset{
    display:block;
    transform: translateX(0);
}
#connection-page .slide-to-co{
    grid-column:1/-1;
}

#connection-page .accroche{
    opacity:0;
}
#connection-page .img-relative{
    left:-100vh;
}

.slide-fieldset.animate{
    display:block;
    animation: slide 1s ease-in .5s;
    animation-fill-mode: forwards;
}

.animate.reverse{
    animation-direction: reverse;
}
.formation-header-title i.fas.fa-chevron-right{
    transform:rotate(0);
    transition: transform .2s linear;
}

.formation-header-title i.fas.fa-chevron-right.down{
    transform:rotate(90deg);
    transition: transform .2s linear;
}

