{# empty Twig template #}
{% extends 'base.html.twig' %}

{% block title %}Mes Formations{% endblock %}

{% block body %}
    <div class="content">
        <div class="onglets">
            <div class="profile-formation-content">
                <div class="tabpanel-block">
                    {% include "site/list_formations.html.twig" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}