{% extends 'base.html.twig' %}

{% block title %}Mon Profile{% endblock %}


{% block body %}
    <div class="content">
        <div class="onglets">
            <div class="profile-formation-content">
                <div class="tabpanel-block">
                  {{ include('site/user_infos.html.twig', {'user':user}) }}
                         
                    <button type="button" id="chg-password" class="btn btn-primary">Modifier le mot de passe</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

