{% extends 'site/user_page_template.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block tabpanel_block %}
    {% for msg in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>

            {{ msg }}

        </div>
    {% endfor %}
    {{ include('site/user_infos.html.twig', {'user':user}) }}

    <a id="chg-password" class="btn btn-primary" href="{{ path("profile.reset_password") }}">Modifier le mot de passe</a>

{% endblock %}

